<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Postal Calculation</title>
</head>
<body>
   <h1>
      Your mail type is <% if (mailType == 'lettersStamped') {%> a stamped letter <%} 
      else if (mailType == 'lettersMetered') {%> a metered letter <%}
      else if (mailType == 'largeEnvelope') {%> a large envelope <%}
      else {%> a first class package service <%}%>
   </h1>
   <p>
      Your total price is: <% if (mailType == 'package') { 
         if (weight >= 0 && weight <= 4) { %> $3.80
         <%} else if (weight > 4 && weight <= 8) { %> $4.60
         <%} else if (weight > 8 && weight <= 12) { %> $5.30
         <%} else { %> $5.90 <% }
      } 
      else if (mailType == 'lettersStamped') { 
         if (weight >= 0 && weight <= 1) { %> $0.55
            <%} else if (weight > 1 && weight <= 2) { %> $0.70
            <%} else if (weight > 2 && weight <= 3) { %> $0.85
            <%} else { %> $1.00 <% }
      }
      else if (mailType == 'lettersMetered') {
         if (weight >= 0 && weight <= 1) { %> $0.50
            <%} else if (weight > 1 && weight <= 2) { %> $0.65
            <%} else if (weight > 2 && weight <= 3) { %> $0.80
            <%} else { %> $0.95 <% }      
      }
      else {
         if (weight >= 0 && weight <= 1) { %> $1.00
            <%} else if (weight > 1 && weight <= 2) { %> $1.20
            <%} else if (weight > 2 && weight <= 3) { %> $1.40
            <%} else if (weight > 3 && weight <= 4) { %> $1.60
            <%} else if (weight > 4 && weight <= 5) { %> $1.80
            <%} else if (weight > 5 && weight <= 6) { %> $2.00
            <%} else if (weight > 6 && weight <= 7) { %> $2.20
            <%} else if (weight > 7 && weight <= 8) { %> $2.40
            <%} else if (weight > 8 && weight <= 9) { %> $2.60
            <%} else if (weight > 9 && weight <= 10) { %> $2.80
            <%} else if (weight > 10 && weight <= 11) { %> $3.00
            <%} else if (weight > 11 && weight <= 12) { %> $3.20
            <%} else { %> $3.40 <% } 
      } %>
   </p>
</body>
</html>