<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Postal Calculator</title>
</head>
<body>
  <h1>Postal Stamp Calculator</h1>
  <form method="POST" action="/calc_rates.ejs">
    Weight:<input type="number" name="weight"><br>
    <input type="radio" name="mailType" value="lettersStamped">Letters (Stamped)<br>
    <input type="radio" name="mailType" value="lettersMetered">Letters (Metered)<br>
    <input type="radio" name="mailType" value="largeEnvelope">Large Envelopes (Flats)<br>
    <input type="radio" name="mailType" value="package">First-Class Package Service-Retail<br>
    <input type="submit">    
  </form>
</body>
</html>